
@font-face {
    font-family: blanka;
    src: url("Blanka-Regular.ttf");
}
*{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
.main{
    width: 100%;
}
.header{
    font-family: blanka;
    position: relative;
    background-color: #2974BA;
    width: 100%;
    height: 30%;

}
.welcome{
    width: 100%;
    height: auto;
    font-size: 10vw;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

ul{
    color: white;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 10%;


}
li {
    display: inline;
    font-size: 1.5vw;
    background-color: #194670;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border-right: 4px solid white;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    text-decoration: none;
    font-family: blanka;

}

a:hover>li{
    color: #194670;
    background-color: white;
    transition: 0.3s;
}
.active
{
    color: #194670;
    background-color: white;
}
.menu{
    position: relative;
    width: 100%;
    height: 5%;
    margin: auto;
    background-color: #194670;
}

.login
{
    position: absolute;
    font-size: 1vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color:#7DB8F0;
    border:5px solid #194670;
    color: #194670;
    cursor: pointer;
    right: 15%;
    top: 70%;
    font-family: "Arial";
}
a:hover > .login{
    background-color: white;
    transition: 0.3s;
}

.signup
{
    position: absolute;
    font-size: 1vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    font-family: "Arial";
    padding-right: 35px;
    background-color:#7DB8F0;
    border:5px solid #194670;
    color: #194670;
    cursor: pointer;
    right: 5%;
    top: 70%;
}
a:hover > .signup{
    background-color: white;
    transition: 0.3s;
}
.formwrap{
    position: relative;
    width: 100%;
}
form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;

}

.text{
    border-radius: 5px;
    width: 400px;
    height: 40px;
    box-shadow: 0px;
    padding-left: 10px;

}
.text:hover{
    border:3px solid #2974BA;
    transition: 0.1ms;
}
h3{
    font-family: Arial;
    margin-top: 50px;
    margin-bottom: 10px;
}
.submit{
    color: white;
    background-color: #2974BA;
    border: 5px solid #194670;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
}
.submit:hover{
    color:#194670;
    background-color: white;
    transition: 0.2s;
}
input {
    border: 3px solid black;
}